.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'TTHakgyoansimMulgyeolB', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #dc611b;
}

