* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  padding: 137px 0 140px;
  margin-top: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #06070a;
  color: #dc611b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  overflow-x: hidden;
  overflow-y: auto;
}



@font-face {
  font-family: 'TTHakgyoansimMulgyeolB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMulgyeolB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


/* 아이패드 프로 */
@media (max-width: 1024px) {
  .logo {
    font-size: 40px;
  }

  .main-content {
    padding: 20px;
  }
}

/* 아이폰 12 Pro */
@media (max-width: 480px) {
  .logo {
    font-size: 28px;
  }

  button {
    font-size: 14px;
  }
}